/* Amends and adds rules needed by IE5.x to fileman.css */ 
body {
	z-index: 1; 
} 

div.sidebar {
	position: absolute;
	z-index: 6;
	overflow: hidden; 
}

div.masthead {
	position: absolute;
	z-index: 6;
	overflow: hidden; 
}

.spacer {
	position: absolute;
	margin-bottom: 0px;
	width: 200px;
	/* top: 0px; */
	left: 0px;
	bottom: 0px;
	background: #AA9FAA;
	height: 100%;
	z-index: 1; 
}

div.content {
	margin-left: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-left: 220px;
	z-index: 4;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll; 
}
