.color-divbar-gold {
	background-color: #FFCC00;
	height: 4px;
}
.color-headbar-blue {
	background-color: #00338C;
}
.test {
	position: relative;
	height: 100px;
	width: 300px;
	left: 28px;
	top: 98px;
}
.contentarea {
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
	vertical-align: top;
}
.searchbox {
	width: auto;
	height: auto;
	background-color: #658DCF;
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.cont-textbox1 {
	border: 1px solid #00338C;
}
.tab-cap {
	background-color: #00338C;
	height: 24px;
	width: 8px;
}
.tab-text {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #00338C;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-weight: bold;
}
.content-text {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px 15px 15px;
	width: auto;
	color: #00338C;
}
.colspace1 {
	width: 15px;
}
.cont-textbox2 {
	border: 1px solid #00338C;
	width: 200px;
}
.tablescaler {
	width: 100%;
}
.cont-tipbox {
	border: 1px solid #00338C;
	padding: 0px;
}
.tipbox-header {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #00338C;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	font-weight: bold;
}
.bulbpad {
	padding-right: 5px;
}
.linkpad {
}
.footerbar {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	background-color: #E6E6E6;
	text-align: center;
	vertical-align: middle;
	padding: 8px;
	line-height: 16px;
}
a {
	text-decoration: underline;
}a:hover {
	text-decoration: underline;
	color: #FF0000;
}
.footerlink {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	line-height: 16px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.searchtab-r {
	width: 9px;
	height: 49px;
	background-color: #658DCF;
}
.searchbox-link {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.infobox-link {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00338C;
}
.content-link {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: auto;
	color: #00338C;
	text-decoration: underline;
}
.tipbox-text-blue {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 9px 7px 4px;
	width: auto;
	background-color: #DAE5F7;
}
.tipbox-text-white {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 9px 7px 4px;
	width: auto;
	background-color: #FFFFFF;
}
.infobox-text-blue {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 7px 10px;
	background-color: #DAE5F7;
	text-decoration: underline;
}
.infobox-text-white {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 7px 10px;
	vertical-align: middle;
}
.tipbox-img-blue {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 0px 10px 10px;
	width: auto;
	background-color: #DAE5F7;
}
.tipbox-img-white {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 0px 10px 10px;
	width: auto;
	background-color: #FFFFFF;
}
