[filesystem]
#forceAfsUserDir="/afs/umich.edu/user/" #required if users also have unix home directories
root="/afs/"

[router]
baseUrl="/~username/mfile050"

[plugins]
FrontController[] = CoSign
FrontController[] = AfsMime
